
:root {
  --background: #F8F9FA;
  --primary:#002EFF;
  --darkPrimary:#DEA806;
  --secondary:#FFBF00;
  --accent:#0A7CFF;
}

html{
  padding:0;
  margin:0;
}
body {
  background: var(--background);
  padding:2px;
  margin:2px;
}

